Checks: >
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  misc-*,
  portability-*,
  performance-*,
  readability-*,
  cppcoreguidelines-avoid-const-or-ref-data-members,
  cppcoreguidelines-avoid-non-const-global-variables,
  cppcoreguidelines-init-variables,
  cppcoreguidelines-interfaces-global-init,
  cppcoreguidelines-narrowing-conversions,
  cppcoreguidelines-prefer-member-initializer,
  cppcoreguidelines-virtual-class-destructor,
  modernize-loop-convert,
  modernize-make-shared,
  modernize-make-unique,
  modernize-return-braced-init-list,
  modernize-use-bool-literals,
  modernize-use-default-member-init,
  modernize-use-emplace,
  modernize-use-override,
  modernize-use-using,
  -misc-no-recursion,
  -misc-non-private-member-variables-in-classes,
  -readability-braces-around-statements,
  -readability-identifier-length,
WarningsAsErrors: ''
AnalyzeTemporaryDtors: false
FormatStyle:     file
CheckOptions:
